.bg-contact {
    min-width: 100%;
    min-height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;

    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;

    /* gap: 20px; */

    background-color: #efeff2;
}

#clear {
    position: absolute;
    opacity: 0.8;
    cursor: pointer;
    width: 26px;
    height: 25px;
    top: 48px;
    right: -45px;
}

#close {
    position: absolute;
    opacity: 0.8;
    cursor: pointer;
    width: 20px;
    height: 21px;
    top: 8px;
    right: -42px;
}

#clear:hover,
#close:hover {
    transform: scale(1.5);
    opacity: 1;
    background-color: #00ff80c6;
    border-radius: 50%;
}

.bg-contact button {
    all: unset;
    font-family: 'Red Hat Display', sans-serif;
    font-size: xx-large;
    cursor: pointer;
    text-align: center;
}

.bg-contact button:hover {
    transform: scale(1.2);
    opacity: 1;
    background-color: #00ff80c6;
    width: 150px;
    border-radius: 10px;
}

.card-contact {
    width: 400px;
    min-height: 500px;
    padding: 20px 20px 110px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(158, 158, 158, 0.496);

    border-radius: 10px;
}

.card-contact h1 {
    font-family: 'Red Hat Display', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.card-contact span {
    color: #00ff80c6;
    text-shadow: 0.5px 0.5px black;
}

.nav-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 20px;
}

.nav-contact img {
    border-radius: 50%;
    opacity: 0.8;
}

#linkedin:hover {
    box-shadow: 3px 3px 2px 2px #00ff80 !important;
    opacity: 1;
    transform: scale(1.03);
}

#github:hover {
    box-shadow: 3px 3px 2px 2px #00ff80 !important;
    opacity: 1;
    transform: scale(1.03);
}

.name-email {
    display: flex;
    gap: 20px;
}

#outlined-basic {
    padding-top: 3rem !important;
}

#outlined-multiline-flexible {
    width: 32.3rem !important;
}

.MuiInputBase-input {
    font-size: medium !important;
}

.MuiFormLabel-root {
    font-size: 20px !important;
    outline: none !important;
    border: none !important;
    background-color: #fff;
    padding: 0px 8px !important;
}

#close-mob,
.box-btn-contact {
    display: none;
}

.card-contact h2 {
    display: none;
    font-family: 'Red Hat Display', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width:550px) {
    html {
        background-color: #efeff2;
    }

    .card-contact {
        min-height: 100% !important;
        min-width: auto !important;
        box-shadow: 0 0 0 0 !important;
        padding: 5rem 0 0 0 !important;
        background-color: #efeff2;

    }

    #close-mob {
        display: block;
        position: absolute;
        top: 3rem;
        right: -4rem;
        width: 3rem;
    }

    #clear,
    #close,
    #enviar {
        display: none !important;
    }

    .box-btn-contact {
        display: flex;
        /* flex-direction: column; */
        align-self: center;
        justify-content: center !important;
        /* width: rem; */
        gap: 2rem;
        margin-top: 12rem !important;
        height: 5rem !important;
    }

    #clear-mob,
    #enviar-mob {
        box-shadow: 3px -3px 2px 2px #00ff80 !important;
        border-radius: 2rem;
        background-color: #efeff2;
        padding: 0 1rem 0 1rem;
        width: 15rem;
    }

    #clear-mob:hover,
    #enviar-mob:hover {
        transform: scale(1);
    }

    .MuiFormLabel-root {
        background-color: #efeff2 !important;
    }

    .card-contact h1 {
        display: none;
    }

    .card-contact h2 {
        display: inline;
        text-align: center;
        width: 30rem;
    }

    .card-contact form {
        display: flex;
        width: 40rem;
        flex-direction: column;
    }

    .nav-contact img {
        opacity: 1;
    }

    #github:hover,
    #linkedin:hover {
        box-shadow: 0px 0px 0px 0px !important;
        opacity: 1;
        transform: scale(1) !important;
    }
}